<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>829654571447-kj2rdv75v1pcqhc2kgkd8f8fu3hnq4jp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.829654571447-kj2rdv75v1pcqhc2kgkd8f8fu3hnq4jp</string>
	<key>API_KEY</key>
	<string>AIzaSyA2KJPTksuD7URpbe3itUSEzw156o12KgY</string>
	<key>GCM_SENDER_ID</key>
	<string>829654571447</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fasttrackfitness.fasttrackfitness</string>
	<key>PROJECT_ID</key>
	<string>fast-track-fitness-db7a2</string>
	<key>STORAGE_BUCKET</key>
	<string>fast-track-fitness-db7a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:829654571447:ios:94ad1f2a77a31f8d5c7032</string>
</dict>
</plist>